/* Create upper height to derive other heights from */

html, body {
	height: 100%;
	width: 100%;
	font-size: large;
}

div, header, footer, table {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

/* Styling of header */

header {
	background-color: #5687a6;
	text-align: center;
	height: 50%;
}

img {
	margin-top: 10px;
}

h1,h2 {
	padding: 10px;
	margin: 0;
	text-align: center;
}

/* Color header headings */

h1.head {
	margin-top: 20px;
	font-size: 300%;
	color: #ffffff;
}

h2.head {
	color: #bababa;
	font-size: 300%;
	margin-bottom: 20px;
}

/* Create upper height to derive feature heights from */
.contain {
	height: 100%;
}

.row {
	height: 50%;
	width: 100%;
	margin: 0;
}
/* Styling of feature containers */

.feature {
	float:left;
	height: 100%;
	width: 50%;
	background-color: black;
	text-align: center;
	overflow: auto;
	box-shadow: -1px -1px 3px #333;
}

/* Styling of columns within features */

.column {
	height: 75%;
	padding: 10px;
}

/* Different background colors for containers */

.grey {
	background-color: #bababa;
}

.white {
	background-color: #ffffff;
	color: #333;
}

.blue {
	background-color: #5687a6;
}

/* Different colors for headers */

.header-black {
	color: #333333;
	height: 25%;
}

.header-white {
	color: #ffffff;
	height: 25%;
}

.header-grey {
	color: #bababa;
	height: 25%;
}

.header-blue {
	color: #5687a6;
	height: 25%;
}

/* Styling of small header */

.small-heading {
	margin-left: 0;
}

/* Styling of prices area */

.prices {
	background-color: #5687a6;
	clear:both;
}

.table {
	margin-top: 10px;
}

.headCell {
	background-color: #bababa;
	
}

td {
	background-color: #fff;
	color: #333;
	padding: 5px;
	border: 1px solid #5687a6;
}

footer {
	text-align: center;
}

